

        @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

        :root {
            --cor-primaria: black;
            --cor-secundaria: white;
            --cor-terciaria: firebrick;
            --cor-hover: #340909;
            --fonte-primaria: "Oswald", serif;
            --fonte-secundaria: "Robot Mono", serif;
        }
        * {
            padding: 0px;
            margin: 0px;
        }
        body {
            height: 100%;
            box-sizing: border-box;
            background-color: var(--cor-primaria);
            color: var(--cor-secundaria);
        }

        .cabecalho__menu {
            display: flex;
            padding: 2% 0% 0% 11%;
            gap: 32px;
        }

        .cabecalho__menu__link {
            color: var(--cor-terciaria);
            text-decoration: none;
            font-family: "Robot Mono", serif;
            font-weight: 200;
            font-size: clamp(1rem, 2.46vh, 3rem);
        }

        .apresentacao {
            padding: 0% 11%;
            display: flex;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            min-height: calc(100vh - env(safe-area-inset-bottom));
            gap: 0rem;
        }

        .apresentacao__about
        {
            padding: 5% 11% 9% 11%;
            display: flex;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            min-height: calc(100vh - env(safe-area-inset-bottom));
            gap: 0rem;
        }

        .apresentacao__curriculo {
            padding:8.8929vh 8.8929vh 19.56393728860711vh 17.7858vh;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            
            
            
        }

        .apresentacao__conteudo {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 40px;
            
        }

        .apresentacao__conteudo__curriculo {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 40px;
        }

        .apresentacao__conteudo__titulo {
            font-size: 2.25rem;
            font-size: clamp(1rem, 5.55vh, 5rem);
            font-family: var(--fonte-primaria);
        }

        .apresentacao__conteudo__texto {
            font-size: 1.5rem;
            font-size: clamp(1rem, 3.7vh, 3rem);
            font-family: var(--fonte-primaria);
            font-weight: 200;
        }

        ul {
            list-style-position: outside;
            padding-left: 4.534927058724345vh;
        }

        .apresentacao__botao {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            gap: 32px;
        }

        .destaque-strong-vermelho {
            color: var(--cor-terciaria);
        }

        .apresentacao__botao__texto
        {
            font-family: var(--fonte-primaria);
            font-weight: 200;
            font-size: clamp(1rem, 3.7vh, 3rem);
        }

        .apresentacao__botao__link {
            /* background-color: var(--cor-terciaria); */
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4%;
            border: 2px solid var(--cor-terciaria);
            width: 378px;
            text-align: center;
            border-radius: 12px;
            font-size: clamp(1rem, 3.7vh, 3rem);
            /* padding-top: 21px;
            padding-bottom: 24px; */
            padding: 21px 0px;
            text-decoration: none;
            color: var(--cor-secundaria);
            font-family: "Roboto Mono", serif;
            

        }

        .apresentacao__botao__link:hover {
            /* background-color: #5a1010; */
            background-color: var(--cor-hover);
        }

        .imagem__principal {
            width: 30%; 
            border: 5px solid var(--cor-terciaria);
            

        }

        .imagem__principal__about {
            width: 40%;
            margin-top: 7%;
            border: 5px solid var(--cor-terciaria);

        }

        .imagem__botao {
            width: 8%;
        }

        .rodeope {
            color: var(--cor-primaria);
            background-color: var(--cor-terciaria);
            display: flex;
            justify-content: center;
            font-family: var(--fonte-primaria);
            font-weight: 400;
            font-size: 1.5rem;
            font-size: clamp(1rem, 2.7vh, 3rem);
            height: 50px;
            align-items: center;
        }

        @media (max-width: 1200px) {
          body {
            height: 100%;
          }
            
            .cabecalho__menu {
                padding: 6% 0;
                justify-content: center;
                gap: 32px;
            }
            
            .apresentacao {
                flex-direction: column-reverse;
                padding: 0 3% 10% 3%;
                
            }
            .apresentacao__conteudo {
                width: auto;
                height:auto;
                
            }

            .apresentacao__about {
                flex-direction: column-reverse ;
            }

            .imagem__principal__about {
                width: 80%;
                margin-bottom: 25%;
            }

            .imagem__principal {
                width: 50%;
                height: 50%;
                margin: 12% 0 20% 0;
            }
            .apresentacao__botao__link {
                width: 85%;
                justify-content: center;
            }
            .apresentacao__conteudo__titulo {
                width: 100%;
               
            }
            .apresentacao__conteudo__texto {
                width: 100%;
                
            }

            .apresentacao__curriculo {
                flex-direction: column;
                min-height:100svh;
                padding: 10% 3% 25% 3%;
            }

            .apresentacao__imagem__curriculo {
                justify-content: center;
            }
        }
